<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <a href="/">
        <p>
            主页
        </p>
    </a>
    <a href="/login">
        <p>
            登陆
        </p>
    </a>
    <a href="/register">
        <p>
            注册
        </p>
    </a>
    {% if success_register %}
    {{ success_register }}
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label>
            <input type ='text' name="username" required>
        </label>
        <br>
        <label>
            <input type ='password' name="password" required>
        </label>
        <br>
        <button type="submit">登陆</button>
    </form>
    <br>
    <br>
    {% if error_username %}
    {{ error_username }}
    {% endif %}

    {% if error_password %}
    {{ error_password }}
    {% endif %}
</body>
</html>