<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label>
            <input type ='text' name="username" required>
        </label>
        <br>
        <label>
            <input type ='password' name="password" required>
        </label>
        <br>
        <button type="submit">注册</button>
    </form>
    <br>
    {% if error_register_exist %}
    {{ error_register_exist }}
    {% endif %}
    {% if error_pass_style %}
    {{ error_pass_style }}
    {% endif %}
    {% if error_pass_length %}
    {{ error_pass_length }}
    {% endif %}
    {% if error_name_length %}
    {{ error_name_length }}
    {% endif %}

</body>
</html>