<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <a href="/">
        <p>
            主页
        </p>
    </a>
    <a href="/login">
        <p>
            登陆
        </p>
    </a>
    <a href="/register">
        <p>
            注册
        </p>
    </a>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label>
            <input type ='text' name="username" required>
        </label>
        <br>
        <label>
            <input type ='password' name="password" required>
        </label>
        <div>性别:
		    <label><input type="radio" name="sex" value="男生">男生</label>
		    <label><input type="radio" name="sex" value="女生">女生</label>
	    </div>
        <br>
        <button type="submit">注册</button>
    </form>
    <br>
    {% if error_register_exist %}
    {{ error_register_exist }}
    {% endif %}
    {% if error_pass_style %}
    {{ error_pass_style }}
    {% endif %}
    {% if error_pass_length %}
    {{ error_pass_length }}
    {% endif %}
    {% if error_name_length %}
    {{ error_name_length }}
    {% endif %}

</body>
</html>